.DS_store
.venv/
.ipynb_checkpoints/
*.json
data/
__pycache__/
dashboard*.xlsx
templates/asav_2023.xlsx
templates/asav_2024.xlsx
templates/bitrix_2024-04-01_2024-09-15.xlsx
templates/bitrix_before_april_╨┤╨╗╤Å_╤ü╨▓╨╡╤Ç╨║╨╕.xlsx
templates/prev_data_*
templates/bachelor_2024_applications.xls
templates/bachelor_2024_contracts.xls
templates/~$programs.xlsx
templates/bachelor_2024.xls
/.trunk
